header {
  background: url('images/caveira3.png') no-repeat center center/cover;        
  height: 650px;
  max-width: 800px;       
                   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

  
  body {
    font-size: 1rem;
    line-height: 1.6;
    color: #f5f5f5;
    background-color: #0c0c0c;
    font-family: 'Garamond', serif;
    padding: 0 20px;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.header-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 100px;
}

header h1 {
  font-family: 'Almendra SC', serif;
  font-size: 3.5rem;
  color: #811515;
 margin-bottom: 0.5rem;
  position: relative;
}

header p {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  max-width: 700px;
  z-index: 3;
  position: relative;
}

.btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    padding: 14px 28px;
    border: 2px solid #7c0000;
    color: #f5f5f5;
    background-color: #0a0a0a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease;
    z-index: 3;
    position: relative;
}

.btn-w {
    margin-top: 0.5rem;
    display: inline-block;
    padding: 14px 28px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    color: #f5f5f5;
    background-color: #00ca1b;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease;
    z-index: 3;
    position: relative;
}

button:hover {
       cursor: pointer;
   }

section {
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  font-size: 2.5rem;
  color: #bfa76f;
  font-family: 'Cinzel', serif;
}

h3 {
  font-size: 1.5rem;
  color: #811515;
  font-family: 'Cinzel', serif;
}

h4{
  color: #bfa76f;
  font-family: 'Cinzel', serif;
}
.ritual {
  border: 1px solid #680000;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: #111;
}

footer {
  text-align: center;
  padding: 40px 20px;
  font-size: 0.9em;
  color: #999;
}
p{
  font-size: 1.5rem;
}
@media (max-width: 800px) {
  header p,p {
  font-size: 1em;
}

}